In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Loans.csv")
data.head()

,ListingNumber,Term,LoanStatus,BorrowerRate,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (Alpha),Occupation,EmploymentStatus,IsBorrowerHomeowner,LoanOriginalAmount,MonthlyLoanPayment,Investors
0,193129,36,Completed,0.1580,NaN,NaN,NaN,NaN,Other,Self-employed,True,9425,330.43,258
1,1209647,36,Current,0.0920,0.07960,0.0249,0.05470,A,Professional,Employed,False,10000,318.93,1
2,81716,36,Completed,0.2750,NaN,NaN,NaN,NaN,Other,Not available,False,3001,123.32,41
3,658116,36,Current,0.0974,0.08490,0.0249,0.06000,A,Skilled Labor,Employed,True,10000,321.45,158
4,909464,36,Current,0.2085,0.18316,0.0925,0.09066,D,Executive,Employed,True,15000,563.97,20

In [6]:
data.shape

(113066, 14)

In [3]:
data.duplicated().sum()

871

In [4]:
data.drop_duplicates(inplace=True)

In [5]:
data.isnull().sum()

ListingNumber                  0
Term                           0
LoanStatus                     0
BorrowerRate                   0
EstimatedEffectiveYield    29084
EstimatedLoss              29084
EstimatedReturn            29084
ProsperRating (Alpha)      29084
Occupation                  3529
EmploymentStatus            2255
IsBorrowerHomeowner            0
LoanOriginalAmount             0
MonthlyLoanPayment             0
Investors                      0
dtype: int64

In [7]:
data.dropna(inplace=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82708 entries, 1 to 113936
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ListingNumber            82708 non-null  int64
 1   Term                     82708 non-null  int64
 2   LoanStatus               82708 non-null  object
 3   BorrowerRate             82708 non-null  float64
 4   EstimatedEffectiveYield  82708 non-null  float64
 5   EstimatedLoss            82708 non-null  float64
 6   EstimatedReturn          82708 non-null  float64
 7   ProsperRating (Alpha)    82708 non-null  object
 8   Occupation               82708 non-null  object
 9   EmploymentStatus         82708 non-null  object
 10  IsBorrowerHomeowner      82708 non-null  bool
 11  LoanOriginalAmount       82708 non-null  int64
 12  MonthlyLoanPayment       82708 non-null  float64
 13  Investors                82708 non-null  int64
dtypes: bool(1), float64(5), int64(4), object(4)
memory usage: 8.9+ MB

In [9]:
column = {
    "ListingNumber": "id",
    "Term": "duration",
    "LoanStatus": "status",
    "BorrowerRate": "rate",
    "EstimatedEffectiveYield": "yield",
    "EstimatedLoss": "loss",
    "EstimatedReturn": "return",
    "ProsperRating (Alpha)": "prosper",
    "Occupation": "occupation",
    "EmploymentStatus": "employment",
    "IsBorrowerHomeowner": 'home_owner',
    "LoanOriginalAmount": "loan_amount",
    "MonthlyLoanPayment": "payment",
    "Investors": "investors"
}

data.rename(columns=column, inplace=True)

In [10]:
categories = ['status', 'prosper', 'occupation', 'employment']

for column in categories:
    data[column] = data[column].astype('category')

data.head()

,id,duration,status,rate,yield,loss,return,prosper,occupation,employment,home_owner,loan_amount,payment,investors
1,1209647,36,Current,0.0920,0.07960,0.0249,0.05470,A,Professional,Employed,False,10000,318.93,1
3,658116,36,Current,0.0974,0.08490,0.0249,0.06000,A,Skilled Labor,Employed,True,10000,321.45,158
4,909464,36,Current,0.2085,0.18316,0.0925,0.09066,D,Executive,Employed,True,15000,563.97,20
5,1074836,60,Current,0.1314,0.11567,0.0449,0.07077,B,Professional,Employed,True,15000,342.37,1
6,750899,36,Current,0.2712,0.23820,0.1275,0.11070,E,Sales - Retail,Employed,False,3000,122.67,1

In [11]:
data.to_csv('loans_data.csv', index=False)